n8n-workflows/x-agent/ags-x-agent-v1.json
{
  "name": "AGS X Agent v1.0",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 14,18,22 * * *"
            }
          ]
        }
      },
      "id": "node-schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "node-manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/blocks/371c00c90b9381a0bc29e1dc22e5c244/children",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-notion-get-queue",
      "name": "Notion Get X Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "b3LFS2HWlkA9CZ9L",
          "name": "Notion Bearer Direct"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst insights = [];\nlet inQueueSection = false;\n\nfor (const item of allItems) {\n  const response = item.json;\n  const blocks = response.results || [];\n  \n  for (const block of blocks) {\n    if (!block) continue;\n    const blockType = block.type;\n    const blockContent = block[blockType];\n    \n    // 1. Wyciagnij tekst (obsuga roznych struktur Notion API)\n    let rawText = '';\n    if (blockContent && blockContent.rich_text) {\n      rawText = blockContent.rich_text.map(rt => rt.plain_text || rt.text?.content || '').join('').trim();\n    }\n    \n    if (!rawText) continue;\n\n    // 2. Logika sekcji\n    if (blockType.startsWith('heading_') && rawText.toUpperCase().includes('QUEUE')) {\n      inQueueSection = true;\n      continue;\n    }\n    \n    if (inQueueSection && blockType.startsWith('heading_')) {\n      inQueueSection = false;\n      continue;\n    }\n\n    // 3. Przetwarzaj tylko w sekcji QUEUE i tylko bullety\n    if (inQueueSection && blockType === 'bulleted_list_item') {\n      // Filtry statusu\n      if (rawText.indexOf('[PUBLISHED') !== -1) continue;\n      if (rawText.indexOf('[REJECTED') !== -1) continue;\n      if (rawText.indexOf('[ARCHIVED') !== -1) continue;\n      if (rawText.startsWith('//')) continue;\n      \n      var priority = 'normal';\n      if (rawText.indexOf('[HIGH]') !== -1) priority = 'high';\n      if (rawText.indexOf('[LOW]') !== -1) priority = 'low';\n      \n      var topic = 'General';\n      var topicMatch = rawText.match(/\\[([^\\]]+)\\]/g) || [];\n      for (var t = 0; t < topicMatch.length; t++) {\n        var inner = topicMatch[t].slice(1, -1).trim().toUpperCase();\n        if (inner !== 'HIGH' && inner !== 'MED' && inner !== 'LOW' && inner !== 'MEDIUM') {\n          topic = topicMatch[t].slice(1, -1).trim();\n          break;\n        }\n      }\n      \n      // Czyszczenie tekstu z tagow [TAG]\n      var cleanText = rawText.replace(/\\[[^\\]]*\\]/g, '').replace(/\\s+/g, ' ').trim();\n      if (!cleanText) cleanText = rawText;\n      \n      insights.push({\n        text: cleanText, // Mapowanie do text (KLUCZOWE)\n        rawText: rawText,\n        priority: priority,\n        topic: topic,\n        notionBlockId: block.id,\n        status: 'queued',\n        blockType: blockType\n      });\n    }\n  }\n}\n\n// Sortowanie\ninsights.sort((a, b) => {\n  const order = { high: 0, normal: 1, low: 2 };\n  return (order[a.priority] || 1) - (order[b.priority] || 1);\n});\n\nif (insights.length === 0) {\n  return [{ json: { isEmpty: true, message: 'Brak insight\u00f3w w sekcji ## QUEUE', count: 0 } }];\n}\n\nreturn insights.map(i => ({ json: i }));"
      },
      "id": "node-parse-insights",
      "name": "Parse Queue Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-empty",
              "leftValue": "={{ $json.isEmpty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-empty-queue",
      "name": "Queue Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "2106351328",
        "text": "AGS X Agent: Kolejka jest pusta. Nie ma co publikowac.\n\nUzupelnij sekcje ## QUEUE w Notion i uruchom workflow ponownie.",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "node-telegram-empty-queue",
      "name": "Telegram Queue Empty",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        -80
      ],
      "webhookId": "7af28cf8-42c9-4c63-8cde-f3ac7c0738c0",
      "credentials": {
        "telegramApi": {
          "id": "cOUqADDFf7oDwlJ0",
          "name": "Telegram @ags_social_bot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "node-split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as post_count FROM engagement_log WHERE action_type='x_post' AND created_at::date = CURRENT_DATE;",
        "options": {}
      },
      "id": "node-check-rate-limit",
      "name": "Check Daily Rate Limit",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1072,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "aHDeZ1ywfPihvVxH",
          "name": "PostgreSQL CRD ags-agents"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge rate limit result with insight data\n// $input.first() has the postgres result, we need the insight from earlier\nconst rateData = $input.first().json;\nconst postCount = parseInt(rateData.post_count || rateData[0]?.post_count || 0);\n\n// Get insight from the batch item - look at all inputs\nlet insight = {};\nfor (const item of $input.all()) {\n  if (item.json.text) {\n    insight = item.json;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...insight,\n    dailyPostCount: postCount,\n    rateLimitReached: postCount >= 5\n  }\n}];\n"
      },
      "id": "node-evaluate-rate-limit",
      "name": "Evaluate Rate Limit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-rate-limit",
              "leftValue": "={{ $json.rateLimitReached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-rate-limit",
      "name": "Rate Limit Reached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1408,
        -80
      ]
    },
    {
      "parameters": {
        "chatId": "2106351328",
        "text": "=Dzienny limit X osiagniety ({{ $json.dailyPostCount }}/5). Pomijam.",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "node-telegram-rate-limit",
      "name": "Telegram Rate Limit Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        -96
      ],
      "webhookId": "5472b637-708f-479a-b367-b9a8faf4e690",
      "credentials": {
        "telegramApi": {
          "id": "cOUqADDFf7oDwlJ0",
          "name": "Telegram @ags_social_bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 400,\n  \"system\": \"You adapt ONE raw insight from the QUEUE into a single X post.\\nSOURCE RULE: use ONLY the bullet text provided. Never use page headers, the Cel line, workflow steps or section titles as content.\\nCANON: max 280 chars. No em dashes (hyphen or comma). Ellipsis allowed. No hashtags. No empty-enthusiasm words. Peer-to-peer tone. If the insight contains a concrete number, use it as anchor. If no number is present, write a strong qualitative post. ALWAYS output a post - never refuse or return placeholder text. HARD LIMIT 280 chars, aim 230-270 to stay safe.\\nDO NOT DUPLICATE recent posts (fresh angle and hook):\\n\" + $('Prepare Claude Input').first().json.recent_posts_list,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Adapt this insight to a fresh X post: \" + ($('Prepare Claude Input').first().json.text || \"\")\n    }\n  ]\n}) }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          }
        }
      },
      "id": "node-adapt-to-x-post",
      "name": "Claude Adapt To X Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        112
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2iuB1ttk7ekS2ix",
          "name": "Anthropic API AGS-n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract draft text from Claude response\nconst response = $input.first().json;\nconst draft = response.content?.[0]?.text?.trim() || '';\n\n// Get original insight from Split In Batches\nconst insightData = $('Split In Batches').first().json;\n\n// Liczba pozostalych itemow w kolejce\nconst queueRemaining = $('Parse Queue Items').all().length - 1;\n\n// GUARD: Jesli Claude zwrocil SKIP zamiast posta -- to blad promptu, nie decyzja\nconst REFUSAL = /i don'?t see|could you share|provide the insight|share the bullet|no insight (text|provided)|don'?t have (an?|any)? ?insight/i;\nif (draft === 'SKIP_NO_INSIGHT' || draft === '' || REFUSAL.test(draft)) {\n  return [{\n    json: {\n      ...insightData,\n      draft: '',\n      claudeError: true,\n      queueRemaining: queueRemaining >= 0 ? queueRemaining : 0\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...insightData,\n    draft,\n    claudeError: false,\n    queueRemaining: queueRemaining >= 0 ? queueRemaining : 0,\n    retryCount: $json.retryCount !== undefined ? $json.retryCount : 0,\n    adaptationAttempt: ($json.retryCount || 0) + 1\n  }\n}];\n"
      },
      "id": "node-extract-draft",
      "name": "Extract Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 300, \"system\": \"Check this X post for brand canon compliance. Return JSON only, no markdown: {pass: boolean, violations: string[], em_dash_detected: boolean, char_count: number, reasoning: string}. Violations: em_dash (\u00e2\u20ac\u201d), empty_enthusiasm (amazing/fantastic/game-changer), fabricated_metrics, over_280_chars, hashtag_overuse, generic_opener, guru_posture. Pass=true only if violations empty AND char_count<=280.\", \"messages\": [{\"role\": \"user\", \"content\": \"Check this post: \" + $json.draft + \"\\n\\nSource insight: \" + $json.rawText}]}) }}",
        "options": {
          "redirect": {
            "redirect": {
              "maxRedirects": 10
            }
          }
        }
      },
      "id": "node-brand-canon-check",
      "name": "Claude Brand Canon Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        128
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "w2iuB1ttk7ekS2ix",
          "name": "Anthropic API AGS-n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse brand canon check result\nconst response = $input.first().json;\nconst rawText = response.content?.[0]?.text?.trim() || '{}';\n\n// Extract JSON from response (Claude may wrap it in markdown)\nlet canonResult = {};\ntry {\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    canonResult = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  canonResult = { pass: false, violations: ['parse_error'], em_dash_detected: false, char_count: 0 };\n}\n\n// Get draft data from previous context\nconst allItems = $input.all();\nlet draftData = {};\nfor (const item of allItems) {\n  if (item.json.draft !== undefined) {\n    draftData = item.json;\n    break;\n  }\n}\n\n// Force fail if em dash is detected in draft text\nconst draft = draftData.draft || '';\nconst emDashInDraft = draft.includes('\\u2014') || draft.includes('\\u2013');\nif (emDashInDraft) {\n  canonResult.pass = false;\n  canonResult.em_dash_detected = true;\n  if (!canonResult.violations) canonResult.violations = [];\n  if (!canonResult.violations.includes('em_dash')) {\n    canonResult.violations.unshift('em_dash');\n  }\n}\n\nreturn [{\n  json: {\n    ...draftData,\n    canonPass: canonResult.pass === true,\n    canonViolations: canonResult.violations || [],\n    emDashDetected: canonResult.em_dash_detected || emDashInDraft,\n    charCount: canonResult.char_count || draft.length,\n    retryCount: draftData.retryCount || 0\n  }\n}];\n"
      },
      "id": "node-parse-canon-result",
      "name": "Parse Brand Canon Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-canon-pass",
              "leftValue": "={{ $json.canonPass }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-canon-pass",
      "name": "Canon Check Pass?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2816,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-retry",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-retry-available",
      "name": "Retry Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        336
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-retry",
              "name": "retryCount",
              "value": "={{ $json.retryCount + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "node-increment-retry",
      "name": "Increment Retry Count",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3200,
        320
      ]
    },
    {
      "parameters": {
        "chatId": "2106351328",
        "text": "=Blad brand canon po 2 probach.\nInsight: {{ $json.text?.substring(0,100) }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "node-telegram-canon-fail",
      "name": "Telegram Canon Fail Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3024,
        576
      ],
      "webhookId": "fe87588c-3252-43d1-9414-55c1662d622f",
      "credentials": {
        "telegramApi": {
          "id": "cOUqADDFf7oDwlJ0",
          "name": "Telegram @ags_social_bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "update"
      },
      "id": "node-notion-mark-failed",
      "name": "Notion Mark Failed",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        3200,
        576
      ],
      "credentials": {
        "notionApi": {
          "id": "DMNdpC3U0JO2nlKs",
          "name": "AGS - Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generate callback ID for HITL session tracking\nconst executionId = $execution.id || 'exec-' + Date.now();\nconst callbackId = executionId + '_hitl';\n\nlet draft = $json.draft || '';\nlet topic = $json.topic || 'General';\nlet priority = $json.priority || 'normal';\nlet notionBlockId = $json.notionBlockId || '';\nlet charCount = draft.length;\nlet queueRemaining = $json.queueRemaining || 0;\n\nif (!draft) {\n  try {\n    const extractData = $('Extract Draft').first().json;\n    draft = extractData.draft || '';\n    topic = extractData.topic || topic;\n    priority = extractData.priority || priority;\n    notionBlockId = extractData.notionBlockId || notionBlockId;\n    charCount = draft.length;\n    queueRemaining = extractData.queueRemaining || 0;\n  } catch(e) {}\n}\n\nconst queueInfo = queueRemaining > 0\n  ? 'Queue: ' + queueRemaining + ' remaining'\n  : 'Queue: this is the last item';\n\nconst previewText = 'X DRAFT - ' + topic + '\\n\\n' + (draft || '[BRAK DRAFTU]') + '\\n\\nChars: ' + charCount + ' | ' + queueInfo + '\\nApprove to publish.';\n\nconst tgBody = {\n  chat_id: $json.telegramChatId || '2106351328',\n  text: previewText,\n  disable_web_page_preview: true,\n  reply_markup: {\n    inline_keyboard: [[\n      { text: '\\u2705 Approve', callback_data: callbackId + ':approve' },\n      { text: '\\u274c Reject', callback_data: callbackId + ':reject' },\n      { text: '\\u270f\\ufe0f Edit', callback_data: callbackId + ':edit' }\n    ], [\n      { text: '\\ud83d\\udd50 Zaplanuj', callback_data: callbackId + ':schedule' }\n    ]]\n  }\n};\n\nreturn [{\n  json: {\n    ...$json,\n    draft,\n    topic,\n    priority,\n    notionBlockId,\n    charCount,\n    callbackId,\n    executionId,\n    resumeUrl: $execution.resumeUrl || '',\n    tgBodyStr: JSON.stringify(tgBody)\n  }\n}];\n"
      },
      "id": "node-prepare-hitl-preview",
      "name": "Prepare HITL Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.tgBodyStr }}",
        "options": {}
      },
      "id": "node-telegram-send-preview",
      "name": "Telegram Send Preview",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3184,
        112
      ]
    },
    {
      "parameters": {},
      "id": "node-error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        1104
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract error details for alert\nconst errorData = $input.first().json;\nconst errorMessage = errorData.execution?.error?.message || errorData.error?.message || 'Unknown error';\nconst workflowName = errorData.workflow?.name || 'AGS X Agent';\nconst nodeName = errorData.execution?.error?.node?.name || errorData.error?.node?.name || 'Unknown node';\n\nreturn [{\n  json: {\n    errorMessage,\n    workflowName,\n    nodeName,\n    errorData,\n    alertText: `AGS X Agent ERROR\\nNode: ${nodeName}\\nError: ${errorMessage}`\n  }\n}];\n"
      },
      "id": "node-error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        1104
      ]
    },
    {
      "parameters": {
        "chatId": "2106351328",
        "text": "=AGS X Agent ERROR\nNode: {{ $json.nodeName }}\nError: {{ $json.errorMessage }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "node-telegram-error",
      "name": "Telegram Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        1104
      ],
      "webhookId": "c3e1f6db-09aa-493b-9ab5-02c9b4fe3eda",
      "credentials": {
        "telegramApi": {
          "id": "cOUqADDFf7oDwlJ0",
          "name": "Telegram @ags_social_bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "node-no-op-rate-limit",
      "name": "Skip Batch Item",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1920,
        -96
      ]
    },
    {
      "parameters": {},
      "id": "node-no-op-canon-fail-end",
      "name": "Canon Fail End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3360,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for hitl_sessions INSERT\n// Escape single quotes for SQL safety\nconst prev = $('Prepare HITL Preview').first().json;\nconst callbackId = prev.callbackId || '';\nconst executionId = prev.executionId || '';\nconst draft = (prev.draft || '').replace(/'/g, \"''\");  // SQL escape: ' -> ''\nconst notionBlockId = (prev.notionBlockId || '').replace(/'/g, \"''\");\nconst topic = (prev.topic || 'General').replace(/'/g, \"''\");\nconst priority = (prev.priority || 'normal').replace(/'/g, \"''\");\n\nreturn [{ json: { callbackId, executionId, draft_esc: draft, notionBlockId_esc: notionBlockId, topic_esc: topic, priority_esc: priority } }];"
      },
      "id": "node-prepare-hitl-insert",
      "name": "Prepare HITL Insert Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO hitl_sessions (callback_id, execution_id, resume_url, workflow_name, status, expires_at, chat_id, payload)\nVALUES (\n  '{{ $json.callbackId }}',\n  '{{ $json.executionId }}',\n  '',\n  'AGS X Agent v1.0',\n  'pending',\n  NOW() + (COALESCE((SELECT (config_value::jsonb ->> '{{ $json.priority_esc }}')::int FROM brand_config WHERE brand_id='AGS' AND config_key='auto_publish_timeout_min'), 720) * INTERVAL '1 minute'),\n  2106351328,\n  jsonb_build_object(\n    'notionBlockId', '{{ $json.notionBlockId_esc }}'::text,\n    'topic', '{{ $json.topic_esc }}'::text,\n    'draft', '{{ $json.draft_esc }}'::text,\n    'priority', '{{ $json.priority_esc }}'::text\n  )\n)\nON CONFLICT (callback_id) DO UPDATE\n  SET status = 'pending',\n      expires_at = EXCLUDED.expires_at,\n      payload = EXCLUDED.payload\nRETURNING id, callback_id;",
        "options": {}
      },
      "id": "node-pg-insert-hitl-session",
      "name": "PostgreSQL Insert HITL Session",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3568,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "aHDeZ1ywfPihvVxH",
          "name": "PostgreSQL CRD ags-agents"
        }
      }
    },
    {
      "parameters": {
        "content": "## NOTION QUEUE ID\n**X Content Queue (AGS X Agent v1.0)**\n`371c00c9-0b93-81a0-bc29-e1dc22e5c244`\n\n\u26a0\ufe0f NIE myli\u0107 z Intel Brief:\n`371c00c9-0b93-8146-...` = Content Engine Intel Brief\n\nBlok API URL:\nhttps://api.notion.com/v1/blocks/371c00c90b9381a0bc29e1dc22e5c244/children",
        "height": 200,
        "width": 380,
        "color": 4
      },
      "id": "sticky-notion-queue-id",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        832,
        336
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content FROM published_posts ORDER BY created_at DESC LIMIT 5;",
        "options": {}
      },
      "id": "pg-lookup-recent-posts",
      "name": "PostgreSQL Lookup Recent Posts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1552,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "aHDeZ1ywfPihvVxH",
          "name": "PostgreSQL CRD ags-agents"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agreguj ostatnie posty do listy\nconst recentPosts = $input.all().map(i => i.json.content).filter(c => c).join('\\n---\\n');\n// Pobierz insight z Split In Batches\nconst insight = $('Split In Batches').first().json;\n\nreturn [{\n  json: {\n    ...insight,\n    recent_posts_list: recentPosts || 'No recent posts found.'\n  }\n}];"
      },
      "id": "prepare-claude-input",
      "name": "Prepare Claude Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst text = item.text || '';\nif (!text || text === 'undefined' || text.length < 3) {\n  return [{ json: { isValid: false, error: 'Empty input', notionBlockId: item.notionBlockId } }];\n}\nreturn [{ json: { ...item, isValid: true } }];"
      },
      "id": "input-guard-code",
      "name": "Input Guard: Check Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "input-guard-if-v2",
      "name": "Input Guard: Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1264,
        128
      ]
    },
    {
      "parameters": {
        "chatId": "2106351328",
        "text": "ALERT: AGS X Agent - Empty Input\n\nParser nie znalazl tresci w bloku Notion.\nFlow zatrzymany.\n\nBlok: {{ $json.notionBlockId }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "tg-alert-input-guard-v2",
      "name": "Telegram Alert: Empty Input",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1552,
        352
      ],
      "webhookId": "4de5b976-762d-420c-906c-4233c3e58ad9",
      "credentials": {
        "telegramApi": {
          "id": "cOUqADDFf7oDwlJ0",
          "name": "Telegram @ags_social_bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-claude-error",
              "leftValue": "={{ $json.claudeError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "claude-error-check",
      "name": "Claude Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2272,
        112
      ]
    },
    {
      "parameters": {
        "chatId": "2106351328",
        "text": "=ALERT: Claude zwrocil SKIP zamiast posta dla insightu: {{ $json.topic }}\n\nSprawdz prompt w node 'Claude Adapt To X Post'.\n\nQueue remaining: {{ $json.queueRemaining }}",
        "additionalFields": {
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-claude-error-alert",
      "name": "Telegram Claude Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2416,
        -80
      ],
      "webhookId": "1854a105-56d0-4d05-bb84-50004e2b5f1d",
      "credentials": {
        "telegramApi": {
          "id": "cOUqADDFf7oDwlJ0",
          "name": "Telegram @ags_social_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS n FROM post_queue WHERE status='scheduled' AND scheduled_for >= NOW() - INTERVAL '5 minutes' AND scheduled_for <= NOW() + INTERVAL '90 minutes';",
        "options": {}
      },
      "id": "n-check-slot",
      "name": "Check Scheduled Slot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -200,
        -200
      ],
      "credentials": {
        "postgres": {
          "id": "aHDeZ1ywfPihvVxH",
          "name": "PostgreSQL CRD ags-agents"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ Number($json.n) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n-slot-free",
      "name": "Slot Free?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        -200
      ]
    },
    {
      "parameters": {},
      "id": "n-slot-blocked",
      "name": "Slot Blocked (scheduled exists)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        240,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  (SELECT id FROM post_queue WHERE status='queued' AND (platform='x' OR platform IS NULL) ORDER BY priority ASC NULLS LAST, created_at ASC LIMIT 1) AS id,\n  (SELECT content FROM post_queue WHERE status='queued' AND (platform='x' OR platform IS NULL) ORDER BY priority ASC NULLS LAST, created_at ASC LIMIT 1) AS content;",
        "options": {}
      },
      "id": "n-fetch-queued",
      "name": "Fetch Top Queued",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "aHDeZ1ywfPihvVxH",
          "name": "PostgreSQL CRD ags-agents"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-hasq",
              "leftValue": "={{ $json.id == null ? 0 : 1 }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n-has-queued",
      "name": "Has Queued?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        620,
        760
      ]
    },
    {
      "parameters": {
        "jsCode": "const crypto = require(\"crypto\");\nconst https = require(\"https\");\nconst tweetText = ($json.content || '').toString();\nconst postId = $json.id;\nif (!tweetText) { return [{ json: { skipped: true, postId, error: 'empty content' } }]; }\n\nconst consumerKey = \"__X_CONSUMER_KEY__\";\nconst consumerSecret = \"__X_CONSUMER_SECRET__\";\nconst accessToken = \"__X_ACCESS_TOKEN__\";\nconst accessTokenSecret = \"__X_ACCESS_TOKEN_SECRET__\";\n\nconst method = \"POST\";\nconst url = \"https://api.twitter.com/2/tweets\";\nconst oauthTimestamp = Math.floor(Date.now() / 1000).toString();\nconst oauthNonce = crypto.randomBytes(16).toString(\"hex\");\n\nconst oauthParams = {\n  oauth_consumer_key: consumerKey,\n  oauth_nonce: oauthNonce,\n  oauth_signature_method: \"HMAC-SHA1\",\n  oauth_timestamp: oauthTimestamp,\n  oauth_token: accessToken,\n  oauth_version: \"1.0\"\n};\n\nconst sortedParams = Object.keys(oauthParams).sort().map(k =>\n  `${encodeURIComponent(k)}=${encodeURIComponent(oauthParams[k])}`\n).join(\"&\");\n\nconst sigBase = `${method}&${encodeURIComponent(url)}&${encodeURIComponent(sortedParams)}`;\nconst sigKey = `${encodeURIComponent(consumerSecret)}&${encodeURIComponent(accessTokenSecret)}`;\nconst signature = crypto.createHmac(\"sha1\", sigKey).update(sigBase).digest(\"base64\");\n\nconst authHeader = \"OAuth \" + Object.keys(oauthParams).sort().map(k =>\n  `${encodeURIComponent(k)}=\"${encodeURIComponent(oauthParams[k])}\"`\n).join(\", \") + `, oauth_signature=\"${encodeURIComponent(signature)}\"`;\n\nconst body = JSON.stringify({ text: tweetText });\n\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: \"api.twitter.com\",\n    path: \"/2/tweets\",\n    method: \"POST\",\n    headers: {\n      \"Authorization\": authHeader,\n      \"Content-Type\": \"application/json\",\n      \"Content-Length\": Buffer.byteLength(body)\n    }\n  }, (res) => {\n    let data = \"\";\n    res.on(\"data\", chunk => data += chunk);\n    res.on(\"end\", () => resolve({ status: res.statusCode, body: JSON.parse(data) }));\n  });\n  req.on(\"error\", reject);\n  req.write(body);\n  req.end();\n});\n\nconst tweetId = result.body?.data?.id || \"\";\nconst tweetUrl = tweetId ? `https://x.com/i/web/status/${tweetId}` : \"\";\n\nreturn [{ json: { tweet_id: tweetId, tweet_url: tweetUrl, tweet_text: tweetText, postId: postId, x_status: result.status, ok: (result.status === 200 || result.status === 201) } }];"
      },
      "id": "n-publish-queued",
      "name": "Publish Queued To X",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        660
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE post_queue SET status = CASE WHEN {{ $json.ok }} THEN 'published' ELSE 'failed' END, updated_at=NOW() WHERE id = {{ $json.postId }};",
        "options": {}
      },
      "id": "n-mark-queued",
      "name": "Mark Queued Published",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1060,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "aHDeZ1ywfPihvVxH",
          "name": "PostgreSQL CRD ags-agents"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot__TELEGRAM_BOT_TOKEN__/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: 2106351328, text: '\\ud83d\\ude80 Opublikowano z kolejki na X:\\n\\n' + ($('Publish Queued To X').first().json.tweet_text || '') + '\\n\\n' + ($('Publish Queued To X').first().json.tweet_url || '') }) }}",
        "options": {}
      },
      "id": "n-confirm-queued",
      "name": "Telegram Queued Confirm",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        660
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Scheduled Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Notion Get X Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Get X Queue": {
      "main": [
        [
          {
            "node": "Parse Queue Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Queue Items": {
      "main": [
        [
          {
            "node": "Queue Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Queue Empty?": {
      "main": [
        [
          {
            "node": "Telegram Queue Empty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [
          {
            "node": "Input Guard: Check Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Rate Limit": {
      "main": [
        [
          {
            "node": "Evaluate Rate Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Rate Limit": {
      "main": [
        [
          {
            "node": "Rate Limit Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Reached?": {
      "main": [
        [
          {
            "node": "Telegram Rate Limit Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PostgreSQL Lookup Recent Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Rate Limit Alert": {
      "main": [
        [
          {
            "node": "Skip Batch Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Adapt To X Post": {
      "main": [
        [
          {
            "node": "Extract Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Draft": {
      "main": [
        [
          {
            "node": "Claude Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Brand Canon Check": {
      "main": [
        [
          {
            "node": "Parse Brand Canon Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Brand Canon Result": {
      "main": [
        [
          {
            "node": "Canon Check Pass?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canon Check Pass?": {
      "main": [
        [
          {
            "node": "Prepare HITL Preview",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Available?": {
      "main": [
        [
          {
            "node": "Increment Retry Count",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Canon Fail Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry Count": {
      "main": [
        [
          {
            "node": "Claude Adapt To X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Canon Fail Alert": {
      "main": [
        [
          {
            "node": "Notion Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Mark Failed": {
      "main": [
        [
          {
            "node": "Canon Fail End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HITL Preview": {
      "main": [
        [
          {
            "node": "Telegram Send Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send Preview": {
      "main": [
        [
          {
            "node": "Prepare HITL Insert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Telegram Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare HITL Insert Data": {
      "main": [
        [
          {
            "node": "PostgreSQL Insert HITL Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL Lookup Recent Posts": {
      "main": [
        [
          {
            "node": "Prepare Claude Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Input": {
      "main": [
        [
          {
            "node": "Claude Adapt To X Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Guard: Check Text": {
      "main": [
        [
          {
            "node": "Input Guard: Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Guard: Is Valid?": {
      "main": [
        [
          {
            "node": "PostgreSQL Lookup Recent Posts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Alert: Empty Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Error?": {
      "main": [
        [
          {
            "node": "Telegram Claude Error Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude Brand Canon Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Scheduled Slot": {
      "main": [
        [
          {
            "node": "Slot Free?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot Free?": {
      "main": [
        [
          {
            "node": "Fetch Top Queued",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slot Blocked (scheduled exists)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Top Queued": {
      "main": [
        [
          {
            "node": "Has Queued?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Queued?": {
      "main": [
        [
          {
            "node": "Publish Queued To X",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notion Get X Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Queued To X": {
      "main": [
        [
          {
            "node": "Mark Queued Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Queued Published": {
      "main": [
        [
          {
            "node": "Telegram Queued Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "binaryMode": "separate",
    "timezone": "Europe/Warsaw"
  }
}
